.vs/tetris_tutorial_sdl/FileContentIndex/c0400b39-2b35-4b12-991b-c10b842588d2.vsidx
.vs/tetris_tutorial_sdl/v17/.suo
.vs/tetris_tutorial_sdl/v17/Browse.VC.db
.vs/tetris_tutorial_sdl/v17/Browse.VC.db-shm
.vs/tetris_tutorial_sdl/v17/Browse.VC.db-wal
.vs/tetris_tutorial_sdl/v17/Browse.VC.opendb
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/3ebcff15b6514b32/IO.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/3f3f228d131144b5/PIECES.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/4b5f193461fba663/MAIN.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/7bd3faaa4f30340/GAME.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/ab8ff86088c2984c/BOARD.ipch
Release/Board.obj
Release/Game.obj
Release/IO.obj
Release/Main.obj
Release/Pieces.obj
Release/tetris_tutorial_sdl.exe
Release/tetris_tutorial_sdl.iobj
Release/tetris_tutorial_sdl.ipdb
Release/tetris_tutorial_sdl.log
Release/tetris_tutorial_sdl.pdb
Release/vc143.pdb
Release/tetris_t.DB328075.tlog/CL.command.1.tlog
Release/tetris_t.DB328075.tlog/CL.read.1.tlog
Release/tetris_t.DB328075.tlog/CL.write.1.tlog
.vs/tetris_tutorial_sdl/v17/.suo
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/3ebcff15b6514b32/IO.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/3f3f228d131144b5/PIECES.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/4b5f193461fba663/MAIN.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/7bd3faaa4f30340/GAME.ipch
.vs/tetris_tutorial_sdl/v17/ipch/AutoPCH/ab8ff86088c2984c/BOARD.ipch
Release/Board.obj
Release/Game.obj
Release/IO.obj
Release/Main.obj
Release/Pieces.obj
Release/tetris_tutorial_sdl.exe
Release/tetris_tutorial_sdl.iobj
Release/tetris_tutorial_sdl.ipdb
Release/tetris_tutorial_sdl.log
Release/tetris_tutorial_sdl.pdb
Release/vc143.pdb
Release/tetris_t.DB328075.tlog/CL.command.1.tlog
Release/tetris_t.DB328075.tlog/CL.read.1.tlog
Release/tetris_t.DB328075.tlog/CL.write.1.tlog
